<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is index page</h1>

    <p>total books :{{totalbooks}}</p>

    {% if user.is_authenticated %}

    <p>you are logged in</p>
    <a href="{% url 'logout' %}"> logout here </a>

    {% else %}

    <p>Please login here</p>
    <a href="{% url 'login' %}"> login here </a>

    {% endif %}

    <p>User name is {{user.get_username}}</p>
</body>
</html>